[submodule "dependendices/utility"]
	path = dependencies/utility
	url = https://github.com/njoy/utility.git
[submodule "dependendices/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/njoy/catch-adapter.git
